In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tmdb-box-office-prediction/sample_submission.csv
/kaggle/input/tmdb-box-office-prediction/train.csv
/kaggle/input/tmdb-box-office-prediction/test.csv

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import itertools
import re
from pandas.io.json import json_normalize

In [4]:
train_data=pd.read_csv("../input/tmdb-box-office-prediction/train.csv")
test_data=pd.read_csv("../input/tmdb-box-office-prediction/test.csv")

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4398 non-null   int64
 1   belongs_to_collection  877 non-null    object
 2   budget                 4398 non-null   int64
 3   genres                 4382 non-null   object
 4   homepage               1420 non-null   object
 5   imdb_id                4398 non-null   object
 6   original_language      4398 non-null   object
 7   original_title         4398 non-null   object
 8   overview               4384 non-null   object
 9   popularity             4398 non-null   float64
 10  poster_path            4397 non-null   object
 11  production_companies   4140 non-null   object
 12  production_countries   4296 non-null   object
 13  release_date           4397 non-null   object
 14  runtime                4394 non-null   float64
 15  spoken_languages       4356 non-null   object
 16  status                 4396 non-null   object
 17  tagline                3535 non-null   object
 18  title                  4395 non-null   object
 19  Keywords               4005 non-null   object
 20  cast                   4385 non-null   object
 21  crew                   4376 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [7]:
train_data.shape, test_data.shape

((3000, 23), (4398, 22))

In [8]:
pd.DataFrame(train_data.isnull().sum()).T

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,0,2396,0,7,2054,0,0,0,8,0,...,0,2,20,0,597,0,276,13,16,0

In [ ]:
perc_traindata=((pd.DataFrame(train_data.isnull().sum()).T)/len(train_data))*100
perc_traindata